<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.skyjilygao.shardingsphere.dao.NewestAdAccountMapper">
  <resultMap id="BaseResultMap" type="cn.skyjilygao.shardingsphere.entity.NewestAdAccount">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="account_id" jdbcType="VARCHAR" property="accountId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="account_status" jdbcType="INTEGER" property="accountStatus" />
    <result column="disable_reason" jdbcType="INTEGER" property="disableReason" />
    <result column="age" jdbcType="DOUBLE" property="age" />
    <result column="currency" jdbcType="VARCHAR" property="currency" />
    <result column="balance" jdbcType="BIGINT" property="balance" />
    <result column="spend_cap" jdbcType="BIGINT" property="spendCap" />
    <result column="timezone_id" jdbcType="INTEGER" property="timezoneId" /><result column="timezone_name" jdbcType="VARCHAR" property="timezoneName" />
    <result column="timezone_offset_hours_utc" jdbcType="INTEGER" property="timezoneOffsetHoursUtc" />
    <result column="amount_spent" jdbcType="BIGINT" property="amountSpent" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="DATE" property="gmtModified" />
  </resultMap>
  <sql id="Base_Column_List">
    id, account_id, name, account_status, disable_reason, age, currency, balance, spend_cap, 
    timezone_id, timezone_name, timezone_offset_hours_utc, amount_spent, created_time, 
    gmt_create, gmt_modified
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from newest_ad_account
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from newest_ad_account
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cn.skyjilygao.shardingsphere.entity.NewestAdAccount" useGeneratedKeys="true">
    insert into newest_ad_account (account_id, name, account_status, 
      disable_reason, age, currency, 
      balance, spend_cap, timezone_id, 
      timezone_name, timezone_offset_hours_utc, amount_spent, 
      created_time, gmt_create, gmt_modified
      )
    values (#{accountId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{accountStatus,jdbcType=INTEGER}, 
      #{disableReason,jdbcType=INTEGER}, #{age,jdbcType=DOUBLE}, #{currency,jdbcType=VARCHAR}, 
      #{balance,jdbcType=BIGINT}, #{spendCap,jdbcType=BIGINT}, #{timezoneId,jdbcType=INTEGER}, 
      #{timezoneName,jdbcType=VARCHAR}, #{timezoneOffsetHoursUtc,jdbcType=INTEGER}, #{amountSpent,jdbcType=BIGINT}, 
      #{createdTime,jdbcType=TIMESTAMP}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=DATE}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="cn.skyjilygao.shardingsphere.entity.NewestAdAccount" useGeneratedKeys="true">
    insert into newest_ad_account
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="accountId != null">
        account_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="accountStatus != null">
        account_status,
      </if>
      <if test="disableReason != null">
        disable_reason,
      </if>
      <if test="age != null">
        age,
      </if>
      <if test="currency != null">
        currency,
      </if>
      <if test="balance != null">
        balance,
      </if>
      <if test="spendCap != null">
        spend_cap,
      </if>
      <if test="timezoneId != null">
        timezone_id,
      </if>
      <if test="timezoneName != null">
        timezone_name,
      </if>
      <if test="timezoneOffsetHoursUtc != null">
        timezone_offset_hours_utc,
      </if>
      <if test="amountSpent != null">
        amount_spent,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="accountId != null">
        #{accountId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="accountStatus != null">
        #{accountStatus,jdbcType=INTEGER},
      </if>
      <if test="disableReason != null">
        #{disableReason,jdbcType=INTEGER},
      </if>
      <if test="age != null">
        #{age,jdbcType=DOUBLE},
      </if>
      <if test="currency != null">
        #{currency,jdbcType=VARCHAR},
      </if>
      <if test="balance != null">
        #{balance,jdbcType=BIGINT},
      </if>
      <if test="spendCap != null">
        #{spendCap,jdbcType=BIGINT},
      </if>
      <if test="timezoneId != null">
        #{timezoneId,jdbcType=INTEGER},
      </if>
      <if test="timezoneName != null">
        #{timezoneName,jdbcType=VARCHAR},
      </if>
      <if test="timezoneOffsetHoursUtc != null">
        #{timezoneOffsetHoursUtc,jdbcType=INTEGER},
      </if>
      <if test="amountSpent != null">
        #{amountSpent,jdbcType=BIGINT},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.skyjilygao.shardingsphere.entity.NewestAdAccount">
    update newest_ad_account
    <set>
      <if test="accountId != null">
        account_id = #{accountId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="accountStatus != null">
        account_status = #{accountStatus,jdbcType=INTEGER},
      </if>
      <if test="disableReason != null">
        disable_reason = #{disableReason,jdbcType=INTEGER},
      </if>
      <if test="age != null">
        age = #{age,jdbcType=DOUBLE},
      </if>
      <if test="currency != null">
        currency = #{currency,jdbcType=VARCHAR},
      </if>
      <if test="balance != null">
        balance = #{balance,jdbcType=BIGINT},
      </if>
      <if test="spendCap != null">
        spend_cap = #{spendCap,jdbcType=BIGINT},
      </if>
      <if test="timezoneId != null">
        timezone_id = #{timezoneId,jdbcType=INTEGER},
      </if>
      <if test="timezoneName != null">
        timezone_name = #{timezoneName,jdbcType=VARCHAR},
      </if>
      <if test="timezoneOffsetHoursUtc != null">
        timezone_offset_hours_utc = #{timezoneOffsetHoursUtc,jdbcType=INTEGER},
      </if>
      <if test="amountSpent != null">
        amount_spent = #{amountSpent,jdbcType=BIGINT},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.skyjilygao.shardingsphere.entity.NewestAdAccount">
    update newest_ad_account
    set account_id = #{accountId,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      account_status = #{accountStatus,jdbcType=INTEGER},
      disable_reason = #{disableReason,jdbcType=INTEGER},
      age = #{age,jdbcType=DOUBLE},
      currency = #{currency,jdbcType=VARCHAR},
      balance = #{balance,jdbcType=BIGINT},
      spend_cap = #{spendCap,jdbcType=BIGINT},
      timezone_id = #{timezoneId,jdbcType=INTEGER},
      timezone_name = #{timezoneName,jdbcType=VARCHAR},
      timezone_offset_hours_utc = #{timezoneOffsetHoursUtc,jdbcType=INTEGER},
      amount_spent = #{amountSpent,jdbcType=BIGINT},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=DATE}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectBySelective" parameterType="cn.skyjilygao.shardingsphere.entity.NewestAdAccount" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from newest_ad_account
    <where>
      <if test="id != null">
        and id = #{id,jdbcType=BIGINT}
      </if>
      <if test="accountId != null">
        and account_id = #{accountId,jdbcType=VARCHAR}
      </if>
      <if test="name != null">
        and name = #{name,jdbcType=VARCHAR}
      </if>
      <if test="accountStatus != null">
        and account_status = #{accountStatus,jdbcType=INTEGER}
      </if>
      <if test="disableReason != null">
        and disable_reason = #{disableReason,jdbcType=INTEGER}
      </if>
      <if test="age != null">
        and age = #{age,jdbcType=DOUBLE}
      </if>
      <if test="currency != null">
        and currency = #{currency,jdbcType=VARCHAR}
      </if>
      <if test="balance != null">
        and balance = #{balance,jdbcType=BIGINT}
      </if>
      <if test="spendCap != null">
        and spend_cap = #{spendCap,jdbcType=BIGINT}
      </if>
      <if test="timezoneId != null">
        and timezone_id = #{timezoneId,jdbcType=INTEGER}
      </if>
      <if test="timezoneName != null">
        and timezone_name = #{timezoneName,jdbcType=VARCHAR}
      </if>
      <if test="timezoneOffsetHoursUtc != null">
        and timezone_offset_hours_utc = #{timezoneOffsetHoursUtc,jdbcType=INTEGER}
      </if>
      <if test="amountSpent != null">
        and amount_spent = #{amountSpent,jdbcType=BIGINT}
      </if>
      <if test="createdTime != null">
        and created_time = #{createdTime,jdbcType=TIMESTAMP}
      </if>
      <if test="gmtModified != null">
        and gmt_modified = #{gmtModified,jdbcType=DATE}
      </if>

    </where>
  </select>
  <select id="selectByGmtModified" parameterType="java.util.Date" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from newest_ad_account
    where gmt_modified BETWEEN #{gmtModifiedStart,jdbcType=DATE} and #{gmtModifiedEnd,jdbcType=DATE}
  </select>
</mapper>